<div class="note-card-container" #container>
  <a [routerLink]="link">
    <div class="note-card-content">
      <h3 class="note-card-title">{{title}}</h3>
      <div #bodyText class="note-card-body">
        <p class="note-card-text">
          {{body}}
        </p>
        <div #truncator class="note-card-fadeout"></div>
      </div>
    </div>
  </a>

  <button class="button note-card-close" (click)="onDeleteClick()">
    <span class="icon is-small">
      <i class="fas fa-trash-alt"></i>
    </span>
  </button>
</div>
